@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./fonts/PlayfairDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}
